:root {
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --text-accent: hsl(277, 64%, 61%);
  --text-main-heading: hsl(0, 0%, 100%);
  --text-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --text-stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 0;
  color: var(--text-stat-heading);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
p,
div {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.4px;
}
.card__title {
  color: var(--text-main-heading);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
}
.accent {
  color: var(--text-accent);
}
.card__text {
  color: var(--text-main-paragraph);
}
.stat {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.stat__count {
  color: var(--text-main-paragraph);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.stat__label {
  color: var(--text-stat-heading);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 5px;
}
@media (min-width: 800px) {
  /* mobile ui */
  body {
    background-color: green;
  }
  .card {
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
  }
  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 100px 60px 60px;
    max-width: 380px;
  }
  .card__title {
    padding-bottom: 20px;
  }
  .card__text {
    padding-bottom: 50px;
  }
  .card__img {
    border-radius: 5px;
    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    min-width: 500px;
    max-width: 100%;
    height: auto;
  }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
  }
}
@media (max-width: 800px) {
  /* mobile ui */
  body {
    background-color: red;
  }
  .card {
    display: grid;
    grid-template-rows: 200px auto;
    max-width: 350px;
    text-align: center;
  }
  .card__info {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 380px;
    margin-top: 10px;
  }
  .card__text {
    padding: 15px;
  }
  .card__img {
    grid-row: 1;
    border-radius: 5px;
    background-image: url(images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .stat {
    padding-bottom: 20px;
  }
}
